<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Поиск изображений на сайте{% endblock %}</title>

    {% block stylesheets %}
        <style>
            .grid {
                border: 2px solid #f3f3ee;
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
            }

            .grid > * {
                border: 2px solid #f3f3ee;
                padding: 5px;
                margin: 1px;
            }

            .image-block {
                display: inline-block;
                border: 2px solid #00f;
            }

            .image {
                max-width: 100%;
                display: block;
            }

            .block {
                word-wrap: break-word;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>


{% block body %}
    <div>
        <form method="post">
            <label>Укажите полный адрес, обязательно с https(http):
                <input type="text" id="url" name="url">
            </label>
            <button type="submit" id="submit-button">Поиск</button>
        </form>
    </div>

    {% if images is defined %}
        <div>Результат:</div>
        <div class="grid">
            {% for image in images %}
                <div class="block">
                    <div class="image-block"><img class="image" src={{ image.url }}></div>
                    <div> {{ image.url }}</div>
                    <div> {{ image.size }} byte</div>
                </div>
            {% endfor %}
        </div>
        <div>На странице обнаружено {{ images|length }} изображений. Общий размер всех изображений:
            {% if filesSizeTotal > 1000000 %}
                {{ (filesSizeTotal/1000)|round(6,'common') }} Мбайт
            {% else %}
                {{ filesSizeTotal }} байт
            {% endif %}

        </div>
    {% endif %}
    <br>
    <br>
    <br>
    {% if errors is defined %}
        <div> Ошибки:</div>
        {% for error in errors %}
            <div> URL: {{ error['url'] }} <br> Ошибка: {{ error['error'] }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}

</html>
